/tools-deps-native
/tools-deps-native.exe
.cpcache
classes
/*json
!/resources.json
/tools-deps-native.build_artifacts.txt
.lsp/.cache
.clj-kondo/.cache
/target
!/reflect-config-cleaned.json
native-image-args.txt
/tools.bbuild
.cache
