{:deps
 {org.clojure/clojure {:mvn/version "1.10.2-rc1"}
  #_#_org.clojure/tools.deps.alpha {:mvn/version "0.9.857"}
  org.clojure/tools.deps.alpha {:mvn/version "0.9.854-shell-git"}
  org.slf4j/slf4j-jdk14        {:mvn/version "1.7.9"}
  javax.xml.bind/jaxb-api      {:mvn/version "2.3.1"}}
 :paths ["src" "resources"]}
