{:deps
 {org.clojure/clojure {:mvn/version "1.10.2-rc1"}
  org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"
                                :sha "5f0fb4f23a5e38aaaa1b13165540a63e791aaaf4"}
  org.slf4j/slf4j-jdk14        {:mvn/version "1.7.9"}
  javax.xml.bind/jaxb-api      {:mvn/version "2.3.1"}}
 :paths ["src" "resources"]}
